# Maven
target/
*.war
*.ear
*.jar

# IDEs
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Environment/Local Config
src/main/resources/database.properties
.env

# OS
Thumbs.db
.DS_Store

# Tomcat temp files
bin/
logs/
temp/
work/
