# Database and Secrets
*.db
src/main/resources/database.properties
.env

# Tomcat and Deployment
deploy/
*.war
/apache-tomcat-*/
scripts/*.log
logs/

# Build
target/
bin/
*.class

# IDE and OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
desktop.ini
